<!--- Constant Senate Nav Bar--->
<div id="sitenav">
	
	<nav class="top-bar" data-options="is_hover:false">
	
		<ul class="title-area">
    <!-- Title Area -->
    	<li class="name"> <h1> <a href="{{ site.url }}">{{ site.name }} <img src="../img/sa.png"> <img src="../img/ca.png"></a> </h1></li>
    	<li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown"> <a href="#">Contact</a>
      	<ul class="dropdown">
      		<li> <a href="#">Write</a> </li>
      		<li> <a href="#">Call</a> </li>
      		<li> <a href="#">Offices</a> </li>
      	</ul>
      </li>

      <li class="has-dropdown"> <a href="#">Services</a>
      	<ul class="dropdown"> 
      		<li> <a href="#">Help with a Federal Agency</a> </li>
      		<li> <a href="#">Visiting Washington DC</a> </li>
      		<li> <a href="#">Schedule a Meeting</a> </li>
      		<li> <a href="#">Letter Requests</a> </li>  
      		<li> <a href="#">for Students</a> </li>
      		<li> <a href="#">Resources</a> </li>       			
      	</ul>
      </li>

      <li class="has-dropdown"> <a href="#">News</a>
      	<ul class="dropdown"> 
      		<li> <a href="#">Releases</a> </li>
      		<li> <a href="#">Briefs</a> </li>
      		<li> <a href="#">Video</a> </li>
      		<li> <a href="#">Photos</a> </li>      			
      	</ul>
      </li>

      <li class="has-dropdown"> <a href="#">Issues</a>
      	<ul class="dropdown"> 
      		<li> <a href="#">Summaries</a> </li>
      		<li> <a href="#">Priorities</a> </li>
      		<li> <a href="#">Legislation</a> </li>
      		<li> <a href="#">Reports</a> </li>      			
      	</ul>
      </li>

      <li class="has-dropdown"> <a href="#">About</a>
      	<ul class="dropdown"> 
      		<li> <a href="#">Biography</a> </li>
      		<li> <a href="#">Committees</a> </li>
      		<li> <a href="#">Voting Record</a> </li>
      		<li> <a href="#">Caucuses</a> </li>      			
      	</ul>
      </li>

      <li class="search">
              <form>
                <input type="search">
              </form>
            </li>

            <li class="has-button">
              <a class="tiny button" href="#">Q</a>
            </li>
     </ul>
     
  </section>
	
</nav>
</div>
<!--- End Nav Bar--->