@import "settings";
@import "normalize";
@import "foundation";



#featured {
  
  @include grid-column ( $columns: 11, $center: true);
  @extend .slideshow-wrapper;
  $include-html-orbit-classes: $include-html-classes;
  
  
  h3 { color: #ffffff; }
  
  .orbit-bullets {
    display: table;
    text-align: center;
    li { width: emCalc(10); height: emCalc(10); }
    }
    
  .orbit-prev, .orbit-next {
   
  }
}

.top-bar .name h1 a:after {
    background-image: url('../img/ca.png');
    background-repeat: no-repeat;
    content: "";

}
  
